---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Results from '../components/Results.astro';
import Services from '../components/Services.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import MobileStickyBar from '../components/MobileStickyBar.astro';
import QuizModal from '../components/QuizModal.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Results />
    <Services />
    <HowItWorks />
    <Pricing />
    <FAQ />
    <CTAFinal />
  </main>
  <Footer />
  <QuizModal />
  <WhatsAppButton />
  <MobileStickyBar />
</Layout>